@font-face {
    font-family: Merriweather;
    src: url("/portfolio/assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url("/portfolio/assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url("/portfolio/assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body { 
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px; 
}


.header-container  {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 1440px;
    padding: 20px 20px;
    background: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url('../assets/img/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;

}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
      cursor: pointer;
}

.nav {
    margin-left: auto;

}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
  list-style: none;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 20px;
    padding-right: 30px;
}

.nav-link:hover {
    color: #BDAE82;
    transition: 0.3s;
}

/* .language {
    padding-top: 15px;
} */

.language-link {

    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    text-decoration: none;
}

.language-link-active {

    color: #BDAE82;
  
}

.language-text {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter, sans-serif;
    /* font-style: normal; */
    font-weight: 900px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0 9px;
    font-weight: 700px;
}


.main-container {
    padding: 0;
}

.hero {
    background-image: url(../assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center -90px;
    height: 820px;
}

.hero-content {
    padding-top: 160px;
    padding-bottom: 330px;
    padding-left: 78px;
    padding-right: 862px;
}

.alexa-rise {
    margin: 0;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
}

.hero-text {
    width: 450px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
}

.hero-btn {
    margin-top: 25px;
    width: 220px;
    height: 50px;
    padding: 8px 73px;
    background-color: #BDAE82;
    border-style: none;
}

.hero-btn:hover {
    cursor: pointer;
    color: #FFFFFF;
}