:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --font1: 60px;
    --font2: 40px;
}

@media (max-width: 768px) {
    :root {
        --font1: 20px;
        --font2: 32px;
    }
}

@font-face {
    font-family: Merriweather;
    src: url("../assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body { 
   font-family: 'Marck Script', cursive;
    color: var(--color-gold);
    background-color: var(--color-black);
    background-image: url(../assets/img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    font-style: normal;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: calc(100vh - 80px);
    margin: 0 auto;
    padding: 0 20px;  
}

@media (max-width: 768px) { 
  
    .container {
        width: 768px;
    }
}

.main-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
}

.btn {
    font-size: 20px;
}

.text {
    height: 50px;
    font-size: 30px;
}

.author {
    margin-left: auto;
    font-size: 20px;
}

.nav-item {
  list-style: none;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-gold);
    transition: 0.3s;
}

.lang-en, .lang-ru {
    font-size: 30px;
}


.lang-en:hover, .lang-ru:hover {
    cursor: pointer;
    color: #bdae82;
    transition: 0.3s;
}

.footer-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    /* height: 150px; */
    padding: 50px 0;
    /* flex: 0 0 auto; */
    /* height: 100%; */
    /* min-height: calc(100vh - 100px); */
}

@media (max-width: 768px) {
    .footer-container {
        height: 190px;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        padding-top: 34px;
        padding-bottom: 40px;
    }
    
    .social-icon {
        margin-top: 14px;
    }
}

.footer-about-developer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}



@media (max-width: 768px) {
    .footer-about-developer-text {
        margin-right: 2px;
    }
}


.footer-social-content-img {
    color: var(--color-gold);
}

.footer-about-company-text {
    padding-left: 14px;
    
}

@media (max-width: 768px) {
    .footer-about-company-text {
        padding: 0;
        margin-bottom: 30px;
    }
    
}

/* .language {
    padding-left: 31px;
}


.language-link {

    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.language-link-active {
    color: var(--color-gold); 
}

.language-text {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0 9px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .language-text {
        padding-right: 18px;
        padding-left: 9px;

    }
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    z-index: 100;
    gap: 2px;
    padding-bottom: 2px;
}

@media (max-width: 768px) { 
    .hamburger {
            
        display: flex;
        z-index: 1000;
        margin-left: 20px;
    }
}    

  .line {
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    z-index: 15;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger.open .line1 {
    width: calc(100% + 10px);
    transform: rotate(-45deg) translate(-12px, 8px);
  }
  
  .hamburger.open .line2 {
    opacity: 0;
  }
  
  .hamburger.open .line3 {
    width: calc(100% + 10px);
    transform: rotate(45deg) translate(-10px, -6px);
  }

.main-container {
    padding: 0;
}


 */
/* .header-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 40px;
    background: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}


@media (max-width: 768px) { 

    .header-container  {
        width: 768px;
        background: url('../assets/img/bg-tablet.jpg');
        padding-left: 60px;
        padding-right: 64px;
    }
}     */

/* .nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 31px;
    padding: 0;
    
    
} */

/* @media (max-width: 768px) { 
    .nav-list {
        opacity: 0;
        transition: 0.5s;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        position: fixed;
       
        top: -20px;
        bottom:0;
        width: 620px;
        right: -620px;
    }
}     */
/* 
.logo {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background-image: url('../assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
} */

/* .main-icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
      cursor: pointer;
} */

/* .nav {
    overflow-x: hidden;
    margin-left: auto;
  
} */


/* @media (max-width: 768px) { 

    .nav-burger-open{ 
        margin: 0;
        position: fixed;
        opacity: 1;
        top: -20px;
        bottom:0;
        width: 620px;
        right:0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 134px;
        padding-left: 127px;
        gap: 66px;
        font-size: 34px;
        background-color: var(--color-black);
        z-index: 100; 
        transition: 0.5s;
    }   
}


@media (max-width: 619px) { 

    .nav-burger-open{ 
        width: 100%;
     
    }   
}


.nav-list-new {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 31px;
    padding: 0;  
}
 */