@font-face {
    font-family: Merriweather;
    src: url("/portfolio/assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url("/portfolio/assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url("/portfolio/assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}