:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --font1: 60px;
    --font2: 40px;
}

@media (max-width: 768px) {
    :root {
        --font1: 20px;
        --font2: 32px;
    }
}

@font-face {
    font-family: Merriweather;
    src: url("../assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body { 
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background-color: var(--color-black);
    font-size: 20px;
    font-style: normal;
}


.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px; 
    background-color: var(--color-black);

}

@media (max-width: 768px) { 
  
    .container {
        width: 768px;
    }
}

.header-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 40px;
    background: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}


@media (max-width: 768px) { 

    .header-container  {
        width: 768px;
        background: url('../assets/img/bg-tablet.jpg');
        padding-left: 60px;
        padding-right: 64px;
    }
}    

.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 31px;
    padding: 0;
    
}

@media (max-width: 768px) { 
    .nav-list {
        display: none;
    }
}    

.logo {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background-image: url('../assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
}

.main-icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
      cursor: pointer;
}

.nav {
    overflow-x: hidden;
    margin-left: auto;
  
}

@media (max-width: 768px) { 

    .nav-burger-open{ 
        margin: 0;
        position: absolute;
        display: flex;
        top: -20px;
        width: 620px;
        right: 0;
        height: 1024px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 134px;
        padding-left: 127px;
        gap: 66px;
        font-size: 34px;
        background-color: var(--color-black);
        z-index: 100;  
        transition: 2s; 
    }   
}

.nav-list-new {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 31px;
    padding: 0;  
}


.nav-item {
  list-style: none;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-gold);
    transition: 0.3s;
}

.language {
    padding-left: 31px;
}


.language-link {

    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.language-link-active {
    color: var(--color-gold); 
}

.language-text {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0 9px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .language-text {
        padding-right: 18px;
        padding-left: 9px;

    }
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    z-index: 100;
    gap: 2px;
    padding-bottom: 2px;
}

@media (max-width: 768px) { 
    .hamburger {
            
        display: flex;
        z-index: 1000;
        margin-left: 20px;
    }
}    

  .line {
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    z-index: 15;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger.open .line1 {
    transform: rotate(-45deg) translate(-10px, 6px);
  }
  
  .hamburger.open .line2 {
    opacity: 0;
  }
  
  .hamburger.open .line3 {
    transform: rotate(45deg) translate(-10px, -6px);
  }

.main-container {
    padding: 0;
}

.hero {
    background-image: url(../assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center -90px;
    height: 820px;
    padding-top: 185px;
    padding-left: 80px;
}

@media (max-width: 768px) {
    .hero {
        background-image: url(../assets/img/bg-tablet.jpg);
        height: 500px; 
        padding-top: 91px;
        padding-left: 60px;
    }
}

.hero-content {
    width: 500px;
    height: 330px;
}

.alexa-rise {
    margin: 0;
    margin-bottom: 36px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font1);
}


@media (max-width: 768px) {
    .alexa-rise {
      font-size: 32px;
      margin-bottom: 33px;
      font-weight: normal;
    }
}

.hero-text {
    width: 470px;
    margin: 0; 
    margin-bottom: 25px;
    line-height: 40px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .hero-text {
        width: 390px;
        font-family: Inter;
        font-weight: normal;
        font-size: var(--font1);
        line-height: 24px;
        margin-bottom: 60px;
    }
}

.main-btn {
    width: 220px;
    height: 55px;
    background-color: var(--color-gold);
    border-style: none;
}

.main-btn:hover {
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.3s;
}

.skills {
    height: 482px;
    padding-top: 80px;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .skills {
        height: 729px;
        margin-bottom: 80px;
    }
}

.section-title-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .section-title-container {
        margin-bottom: 50px;
    }
}

.section-title-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 9px;
    width: 275px;
    height: 2px; 
    background-color: var(--color-gold);
}

.section-title-container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 9px;
    width: 275px;
    height: 2px; 
    background-color: var(--color-gold);
}

@media (max-width: 768px) {
    .section-title-container::before {
        width: 117px;
    }

    .section-title-container::after {
        width: 117px;
    }
}

.section-title {

    margin: 0;
    color: var(--color-gold);
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font2);
    line-height: 80px;
    text-align: center;
}

.skills-items-container {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;

}

.skills-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 41px;
}

@media (max-width: 768px) {
   
    .skills-items {
        justify-content: center;
        gap: 63px;
        padding: 0;
        padding-right: 2px;
    }
}

.skills-items-logo {
    width: 62px;
    height: 59px;
    margin-bottom: 50px;
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
}

@media (max-width: 768px) {
    .skills-items-logo {
        margin-bottom: 30px;
    }    
}


.skills-items-title {
    margin: 0;
    padding-bottom: 29px;
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 768px) {
    /* .skills-items-title{
        padding-bottom: 22px;  
    }     */
}



.skills-item-text {
    margin: 0;
    width: 280px;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

@media (max-width: 768px) {
    .skills-item-text{
       line-height: 22px;  
       padding-bottom: 12px;
    }    
}

.skills-items-logo-photo {
    background-image: url('../assets/svg/camera.svg');
    
}

.skills-items-logo-video {
    background-image: url('../assets/svg/video.svg');
    
}

.skills-items-logo-retouch {
    background-image: url('../assets/svg/image.svg');
    
}

.skills-items-logo-audio {
    background-image: url('../assets/svg/microphone.svg'); 
    width: 32px;
}

.container-portfolio::before {
    width: 240px;
    right: 40px;
}

.container-portfolio::after {
    width: 240px;
    right: 9px;
}

@media (max-width: 768px) {
    .container-portfolio::before {
        width: 90px;
    }

    .container-portfolio::after {
        width: 90px;
    }
}


.portfolio-buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .portfolio-buttons-container{
        flex-wrap: wrap;
        padding: 0 160px;
    }
}


.portfolio-btn {
    width: 220px;
    height: 55px;
    border: 3px solid var(--color-gold);
    color: var(--color-gold);
    background: none; 
}

.portfolio-btn-active {
    background: var(--color-gold);
    color: var(--color-black);
}

.portfolio-image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .portfolio-image-container{
        margin-bottom: 80px;
    }
}


.video {
    margin-bottom: 100px;
}

.video-player {
    height: 705px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/img/video-player.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


@media (max-width:768px) {
    .video-player {
        height: 418px;
        background: url(../assets/img/video-player-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }    

}

.video-player-btn {
    width: 129.86px;
    height: 130px;
    background: none;
    border:none;
    background-image: url(../assets/svg/play_btn.svg);
}

@media (max-width:768px) {
    .video-player-btn {
        width: 65px;
        height: 65px;
        background-image: url(../assets/svg/play-btn-tablet.svg);
        background-repeat: no-repeat;
    }    

}

.video-player-btn:hover {
    cursor: pointer;
} 

.container-price::before {
    width: 280px;
}

.price {
    padding-bottom: 100px;
}

.container-price::after {
    width: 280px;
}

@media (max-width: 768px) {
    .container-price::before {
        width: 120px;
    }

    .container-price::after {
        width: 120px;
    }
}

.price-item-container {
    display: flex;
    justify-content: center;
    gap:25px;

}

@media (max-width: 768px) {
    .price-item-container {
        flex-wrap: wrap;
    }
}

.price-item-title {

    font-family: Merriweather;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

.price-item-total-price {
    color: var(--color-gold);
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.price-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 505px;
    padding: 29px 0;
    border: 3px solid var(--color-gold);
}

@media (max-width:768px) {
    .price-item {
        width: 420px;
        height: 505px;
    }
}

.price-item-text-container {
    padding-bottom: 40px;
    padding-top: 6px;
}

.price-item-text {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}

.price-item-btn {
    height: 55px;
}

.contacts {
    height: 700px;
    padding-top: 60px;
    background-image: url(../assets/img/contacts.jpg);
    background-size: auto 700px;
    background-position: center;
}

@media (max-width: 768px) {
    .contacts {
        height: 600px;
        background-size: cover;
    }
    
}

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 24px;
    
}

@media (max-width: 768px) {
    .contacts-container {
        justify-content: center;
        align-items: center;
      
    }
    
}

.title-contacts {
    text-align: left;
    margin-right: 223px;
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .title-contacts {
        margin: 0;
    }
    
}

.contacts-input {
    position: relative;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    background: none;
    border: 2px solid var(--color-gold);
    color: var(--color-gold);
    outline: none;
    padding-left: 20px;

}

::placeholder {
    font-family: Inter, sans-serif;
    font-weight: normal;
    color: var(--color-gold);
    font-size: 20px;
  }

.contacts-textarea {
    width: 450px;
    height: 100px;
    margin-bottom: 32px;
    background: none;
    border: 2px solid var(--color-gold);
    color: var(--color-gold);
    resize: none;
    padding-top:13px;
    padding-left: 20px;
    outline: none;
}

@media (max-width: 768px) {
    .contacts-textarea {
        margin-bottom: 30px;
    }
    
}
.contacts-btn {
    height: 55px;
    margin-right: 230px;
}

@media (max-width: 768px) {
    .contacts-btn {
        margin: 0;
    }
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 50px 0;
}

@media (max-width: 768px) {
    .footer-container {
        height: 190px;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        padding-top: 28px;
        padding-bottom: 40px;
    }
    
}

.footer-about-developer-content {
    display: flex;
    gap: 20px;
    margin: 0;
}

.footer-social-content-img {
    color: var(--color-gold);
}

.footer-about-company-text {
    padding-left: 14px;
}

@media (max-width: 768px) {
    .footer-about-company-text {
        padding: 0;
        margin-bottom: 30px;
    }
    
}